* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    background: lightblue;
    height: 50px;
    padding: 12px;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    width: 320px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    padding: 12px;
    gap: 16px;
}

.nav-menu--open {
    transform: translateX(0%);
    box-shadow: 4px 2px 8px 2px rgba(34, 60, 80, 0.2);
}

.nav-menu button {
    align-self: flex-end;
    width: 25px;
    border-radius: 50%;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.nav-menu button:hover {
    color: rgba(192, 3, 3, 0.781);
}

.nav-menu__item {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 12px;
    background-color: peachpuff;
    border-radius: 10px;
    cursor: pointer;
}

.nav-menu__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.submenu {
    display: none;
    padding-left: 20px;
    gap: 8px;
}

.submenu--open {
    display: flex;
    flex-direction: column;
}

.submenu__item {
    padding: 8px 12px;
    background-color: rgba(255, 218, 185, 0.7);
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.open-button {
    padding-top: 0 px;
    text-align: center;
    width: 25px;
    height: 23px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;

}

.open-button:hover {
    color: rgba(3, 139, 218, 0.842);
}